* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.min-height {
  min-height: 90vh;
}
.min-height-center{
  min-height: 83vh;
}

/* Sidebar */
.side-Bar {
  width: 90px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}

.sidebar-Icons {
  width: 55px;
  height: 55px;
}

/* Top Horizontal buttons */

.side-Toggle-Menu {
  width: 100%;
  min-height: unset;
  background: transparent !important;
  padding: 0;
  display: flex; 
  flex-direction: column;
}

/* Horizontal button layout */
.side-Toggle-Menu .list-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  margin-top: 15px;
}

/* Button style */
.side-Toggle-Menu .list-group-item {
  flex: 1;
  border: none;
  border-radius: 16px;
  padding: 16px 20px;
  font-weight: 620;
  color: #ffffff;
  background-color: #243c8f;
  text-align: center;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.12);
}



/* Hover */
.side-Toggle-Menu .list-group-item:hover {
   background-color: #4cc27a;
}

.side-Toggle-Menu .list-group-item.active {
  background-color: #4cc27a !important;
  color: #ffffff;
}

.side-Toggle-Menu .list-group-item.active:hover {
  background-color: #4cc27a !important;
}

/* Navbar */
.profile-Icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

/* Main Content Card */
.main-Card {
  background-color: #ffffff !important;
  border-radius: 28px;
  padding: 45px 55px;
  box-shadow: 0px 18px 45px rgba(0, 0, 0, 0.08);
  flex: 1;
}

.main-Card h2 {
  font-weight: 700;
  margin-bottom: 35px;
}
/* Dropdown layout */
.dropdown-center {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Dropdown button */
.btn-IssuanceType {
  width: 280px;
  height: 48px;
  border-radius: 14px;
  background-color: #cce4f6;
  color: #000000;
  border: none;
  font-weight: 600;
}

/* Generate button */
.btn-primary {
  margin-top: 35px;
  padding: 14px 36px;
  border-radius: 16px;
  font-weight: 700;
  background-color: #243c8f;
  border: none;
}

.logo-Icon {
  
  width: 100px;
  height: auto;
}

/* Shadow Under the Navbar */
.navbar { 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}