/* Default */
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

.icons{
    width: 30px;
    height: 30px;
}

.dashboard-Main{
    margin: 10% 20%;
}

.left-Menu-Icons{
    width: 5%;
    height: 75rem;
}

.left-Menu{
    width: 10%;
    height: 75rem;
}

.menu-Icons{
    width: 50px;
    height: 50px;
}